<!-- Before Adding Main Content -->
<div id="theme-wrapper">
    <nav ng-include="'/app/views/navigation_upper.html'"></nav>
    <div id="page-wrapper" class="container">
        <div class="row">
            <nav ng-include="'/app/views/navigation_left.html'"></nav>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- End Before Adding Main Content -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div id="content-header" class="clearfix">
                                    <div class="pull-left">
                                        <ol class="breadcrumb">
                                            <li><a href="">Home</a></li>
                                            <li class="active"><span>Dashboard</span></li>
                                        </ol>

                                        <h1>Dashboard</h1>
                                    </div>
                                    <!--<div class="pull-right hidden-xs">
                                        <div class="xs-graph pull-left mrg-l-lg mrg-r-sm">
                                            <div class="graph-label">
                                                <b>&dollar;12.338</b> Weekly Revenues
                                            </div>
                                            <div class="graph-content spark-revenues"></div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored emerald-bg">
                                    <i class="fa fa-envelope"></i>
                                    <span class="headline">Messages</span>
                                    <span class="value">{{dashboardData.totalMessages}}</span>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored green-bg">
                                    <i class="fa fa-video-camera"></i>
                                    <span class="headline">Videos</span>
                                    <span class="value">{{dashboardData.totalVideos}}</span>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored red-bg">
                                    <i class="fa fa-user"></i>
                                    <span class="headline">Users</span>
                                    <span class="value">{{dashboardData.totalUsers}}</span>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored purple-bg">
                                    <i class="fa fa-globe"></i>
                                    <span class="headline">Visits</span>
                                    <span class="value">13,298</span>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-box">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">Subscribers & Revenue</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div id="graph-bar" style="height: 240px; padding: 0px; position: relative;"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <ul class="graph-stats">
                                                    <li>
                                                        <div class="clearfix">
                                                            <div class="title pull-left">
                                                                Revenue
                                                            </div>
                                                            <div class="value pull-right" title="10% down" data-toggle="tooltip">
                                                                &dollar;94.382 <i class="fa fa-level-down red"></i>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div style="width: 69%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="69" role="progressbar" class="progress-bar">
                                                                <span class="sr-only">69% Complete</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="clearfix">
                                                            <div class="title pull-left">
                                                                Subscriptions
                                                            </div>
                                                            <div class="value pull-right" title="24% up" data-toggle="tooltip">
                                                                3.930 <i class="fa fa-level-up green"></i>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div style="width: 42%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="42" role="progressbar" class="progress-bar progress-bar-danger">
                                                                <span class="sr-only">42% Complete</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="clearfix">
                                                            <div class="title pull-left">
                                                                New Clients
                                                            </div>
                                                            <div class="value pull-right" title="8% up" data-toggle="tooltip">
                                                                894 <i class="fa fa-level-up green"></i>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div style="width: 78%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar" class="progress-bar progress-bar-success">
                                                                <span class="sr-only">78% Complete</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="clearfix">
                                                            <div class="title pull-left">
                                                                Visitors
                                                            </div>
                                                            <div class="value pull-right" title="17% down" data-toggle="tooltip">
                                                                824.418 <i class="fa fa-level-down red"></i>
                                                            </div>
                                                        </div>
                                                        <div class="progress">
                                                            <div style="width: 94%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="94" role="progressbar" class="progress-bar progress-bar-warning">
                                                                <span class="sr-only">94% Complete</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-box clearfix">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">Latest Users</h2>

                                        <div class="filter-block pull-right">
                                            <div class="form-group pull-left">
                                                <input type="text" class="form-control" placeholder="Search..." ng-model="search">
                                                <i class="fa fa-search search-icon"></i>
                                            </div>

                                            <a href="#/users" class="btn btn-primary pull-right">
                                                <i class="fa fa-eye fa-lg"></i> View all users
                                            </a>
                                        </div>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive clearfix">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            Email Address
                                                        </th>
                                                        <th>
                                                            Status
                                                        </th>
                                                        <th>
                                                            Country
                                                        </th>
                                                        <th>
                                                            Subscription
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="user in dashboardData.latestUsers | filter: search">
                                                        <td>
                                                            {{user.fullName}}
                                                        </td>
                                                        <td>
                                                            {{user.emailAddress}}
                                                        </td>
                                                        <td>
                                                            <span ng-switch="user.isActiveUser">
                                                                <span class="label label-success" ng-switch-when="true">Active</span>
                                                                <span class="label label-warning" ng-switch-when="false">InActive</span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <img ng-src='data:image/jpeg;base64, {{user.country.flagImage}}' />
                                                        </td>
                                                        <td>
                                                            {{user.subscription.name}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-md-4">
                                <div class="main-box weather-box">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">Weather now</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <div class="current">
                                            <div class="clearfix center-block" style="width: 220px;">
                                                <canvas class="icon" id="current-weather" width="100" height="100"></canvas>
                                                <div class="temp-wrapper">
                                                    <div class="temperature">
                                                        25<span class="sign">°</span>
                                                    </div>
                                                    <div class="desc">
                                                        <i class="fa fa-map-marker"></i> Islamabad
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="next">
                                            <ul class="clearfix">
                                                <li>
                                                    <div class="day">
                                                        SUN
                                                    </div>
                                                    <div class="icon" title="Hot" data-toggle="tooltip">
                                                        <i class="wi wi-hot"></i>
                                                    </div>
                                                    <div class="temperature">
                                                        34<span class="sign">°</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="day">
                                                        MON
                                                    </div>
                                                    <div class="icon" title="Showers" data-toggle="tooltip">
                                                        <i class="wi wi-day-showers"></i>
                                                    </div>
                                                    <div class="temperature">
                                                        34<span class="sign">°</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="day">
                                                        TUE
                                                    </div>
                                                    <div class="icon" title="Cloudy" data-toggle="tooltip">
                                                        <i class="wi wi-cloudy-windy"></i>
                                                    </div>
                                                    <div class="temperature">
                                                        35<span class="sign">°</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="day">
                                                        WED
                                                    </div>
                                                    <div class="icon" title="Thunderstom" data-toggle="tooltip">
                                                        <i class="wi wi-thunderstorm"></i>
                                                    </div>
                                                    <div class="temperature">
                                                        34<span class="sign">°</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="day">
                                                        THU
                                                    </div>
                                                    <div class="icon" title="Lightning" data-toggle="tooltip">
                                                        <i class="wi wi-night-alt-lightning"></i>
                                                    </div>
                                                    <div class="temperature">
                                                        33<span class="sign">°</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>

                        <!-- After Adding Main Content -->
                    </div>
                </div>

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Powered by PurgeSol.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- End After Adding Main Content -->
