<!-- Before Adding Main Content -->
<div id="theme-wrapper">
    <nav ng-include="'/userapp/views/navigation_upper.html'"></nav>
    <div id="page-wrapper" class="container">
        <div class="row">
            <nav ng-include="'/userapp/views/navigation_left.html'"></nav>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- End Before Adding Main Content -->

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="">Home</a></li>
                                    <li class="active"><span>My History</span></li>
                                </ol>

                                <h1>My History</h1>
                            </div>
                        </div>
                        <div class="row" id="user-profile">
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="main-box clearfix userImgHistory">
                                    <header class="main-box-header clearfix">
                                        <h2>My Account</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <img style="width:159px; height:159px;" src="../../Content/images/user_frontend.png" class="profile-img img-responsive center-block img-rounded" />

                                        <div class="profile-since">
                                            Member
                                        </div>

                                        <div class="profile-details" ng-show="showPasswordDiv">
                                            <h4 class="text-center">Change Password</h4>
                                            <form name="changePasswordForm" ng-submit="changePassword(changePasswordForm)">
                                                <div class="form-group">
                                                    <label>Current Password</label>
                                                    <input type="password" class="form-control input-sm" ng-model="changePasswordModel.oldPassword" required />
                                                </div>
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" class="form-control" ng-model="changePasswordModel.newPassword" required />
                                                </div>
                                                <div class="form-group">
                                                    <label>Confirm New Password</label>
                                                    <input type="password" class="form-control" ng-model="changePasswordModel.confirmPassword" required />
                                                </div>
                                                <div class="form-group pull-right">
                                                    <button type="submit" value="Change" class="btn btn-primary">
                                                        Change
                                                    </button>
                                                    <button type="reset" class="btn btn-danger" value="Reset">Reset</button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="profile-message-btn center-block text-center">
                                            <a href="" class="btn btn-success" ng-click="showPasswordDiv=!showPasswordDiv">
                                                <i class="fa fa-lock"></i>
                                                Change Password
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-9 col-md-8 col-sm-8">
                                <div class="main-box clearfix">
                                    <div class="tabs-wrapper profile-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a showtab="" data-target="#tab-history" data-toggle="tab">My History</a>
                                            </li>
                                            <li>
                                                <a showtab="" data-target="#tab-admin-support" data-toggle="tab">Contact Us</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">

                                            <div class="tab-pane fade in active" id="tab-history">

                                                <!--<div>-->
                                                    <header class="main-box-header clearfix">
                                                        <h2 class="pull-left">Videos History</h2>

                                                        <div class="filter-block pull-right">
                                                            <div class="pull-left">
                                                                <form class="form-inline" ng-submit="search()" role="form">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control input-sm" ng-model="pagingInfo.search" placeholder="Search...">
                                                                        <button type="submit" class="btn btn-info btn-sm">
                                                                            <i class="fa fa-search fa-lg"></i> Search
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </header>
                                                    <div class="table-responsive clearfix">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr class="headRow">
                                                                    <th></th>
                                                                    <th>Title</th>
                                                                    <th>Duration</th>
                                                                    <th>Category</th>
                                                                    <th>&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="video in videos | filter: pagingInfo.search">
                                                                    <td>
                                                                        <img class="img-rounded" ng-src="{{video.thumbnailURL}}" style="width:50px; height:50px;" />
                                                                    </td>
                                                                    <td class="mobScreenTableDisNon">{{video.name}}</td>
                                                                    <td class="mobScreenTableDisNon">{{video.duration}} Min.</td>
                                                                    <td class="mobScreenTableDisNon">
                                                                        <span ng-repeat="cat in video.categories">
                                                                            {{cat.name}}<br />
                                                                        </span>
                                                                    </td>
                                                                    <td class="mobScreenTableDisNon">
                                                                        <button class="btn btn-info" ng-click="showVideo(video)" title="Watch Now">
                                                                            Watch Now <i class="fa fa-arrow-circle-o-right"></i>
                                                                        </button>
                                                                        <a href="http://view.vzaar.com/{{video.vzaarVideoId}}/download" class="btn btn-default" target="_self" download="{{video.name}}.mp4">
                                                                            <i class="fa fa-download"></i>
                                                                        </a>
                                                                        <button class="btn btn-warning" ng-click="addToFavorites(video)" title="Add To Favorites" ng-if="!video.isFavoriteVideo">
                                                                            <i class="fa fa-plus text-danger"></i>
                                                                        </button>
                                                                        <button class="btn btn-danger" ng-click="removeFromFavorites(video)" title="Remove From Favorites" ng-if="video.isFavoriteVideo">
                                                                            <i class="fa  fa-plus"></i>
                                                                        </button>
                                                                    </td>
                                                                    <td class="mobScreenTable">
                                                                        <div class="mobScreenDiv" style="width:100%;">
                                                                               <div class="row">
                                                            <p style="margin: 8px 0px;" class="col-xs-8 col-lg-8 col-md-8 col-sm-8 ng-binding lrgFont">{{video.name}}
                                                            <span class="minFont"><i class="fa fa-clock-o"></i>{{video.duration}} min.</span></p>
                                                            <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4" style="padding:0px;    margin: 8px 0px;">
                                                                <a href="http://view.vzaar.com/{{video.vzaarVideoId}}/download" class="btn btn-default" target="_self" download="{{video.name}}.mp4"><i class="fa fa-download"></i>
                                                                </a>
                                                                <button class="btn btn-info" ng-click="showVideo(video)" title="Watch Now">
                                                               <i class="fa fa-arrow-circle-o-right"></i>
                                                            </button>
                                                          </div>                     
                                                        </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div><div class="clear"></div>
                                                <pagination total-items="pagingInfo.totalItems"
                                                            ng-model="pagingInfo.page"
                                                            max-size="5"
                                                            boundary-links="true"
                                                            rotate="false"
                                                            class="pagination-sm pull-right"
                                                            ng-change="selectPage(pagingInfo.page)"
                                                            items-per-page="pagingInfo.itemsPerPage"
                                                            previous-text="&lsaquo;"
                                                            next-text="&rsaquo;"
                                                            first-text="&laquo;"
                                                            last-text="&raquo;"
                                                            num-pages="numPages">
                                                </pagination><div class="clear"></div>
                                                <!--</div>
                                                <div ng-if="videos.length <= 0">
                                                    <span>You didn't watch any video yet!</span>
                                                </div>-->
                                            </div>

                                            <div class="tab-pane fade" id="tab-admin-support">
                                                <form name="supportForm" ng-submit="sendMessage(supportForm)">
                                                    <div class="form-group">
                                                        <label>Subject</label>
                                                        <input type="text" class="form-control input-sm" ng-model="support.subject" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Message</label>
                                                        <textarea class="form-control" ng-model="support.message" required />
                                                    </div>
                                                    <div class="form-group pull-right">
                                                        <button type="submit" value="Change" class="btn btn-primary">
                                                            Send
                                                        </button>
                                                        <button type="reset" class="btn btn-danger" value="Reset">Reset</button>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- After Adding Main Content -->
                    </div>
                </div>

                <footer id="footer-bar" class="row footerProfile">
                    <p id="footer-copyright" class="col-xs-12">
                        Copyright &copy; 2015 Dr. Najeeb Lectures. All Rights Reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- End After Adding Main Content -->