<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">

                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="/Content/images/logo.png" alt="" />
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <form name="loginForm" ng-submit="login(loginForm)" novalidate="novalidate">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input class="form-control" type="text" placeholder="Email address" ng-model="username" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                            <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success col-xs-12">Login</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <button type="button" class="btn btn-primary col-xs-12 btn-facebook" data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()">
                                            <i class="fa fa-facebook"></i> Login with facebook
                                        </button>
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div ng-app="directive.g+signin">
                                            <google-plus-signin clientid="302979971884-sfeu1j75j821vg8vc2blu3d2cam3n5e5.apps.googleusercontent.com"></google-plus-signin>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="social-text">
                                            Not a Member?
                                            <a href="#/register" ng-click="register()">
                                                Sign up Now
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="login-box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-sm-6 col-xs-12">
                                <a href="#/terms-and-conditions">
                                    Terms and conditions
                                </a>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <a href="#/privacy-policy">
                                    Privacy policy
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>