<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="#/dashboard" id="logo" class="navbar-brand">
            <img src="/Content/images/logo.png" alt="" class="normal-logo logo-white" />
        </a>

        <div class="clearfix">
            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>

            <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="btn" id="make-small-nav" menu-hider>
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                   <!--  <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell"></i>
                            <span class="count">2</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header">You have 2 new notifications</li>
                            <li class="item">
                                <a href="">
                                    <i class="fa fa-plus"></i>
                                    <span class="content">Coming Soon</span>
                                    <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="">
                                    Coming Soon
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="count">1</span>
                        </a>
                        <ul class="dropdown-menu notifications-list messages-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item first-item">
                                <a href="">
                                    <img src="/Content/sitecontent/img/samples/messages-photo-3.png" />
                                    <span class="content">
                                        <span class="content-headline">
                                            Coming Soon
                                        </span>
                                        <span class="content-text">
                                            This section updated soon
                                        </span>
                                    </span>
                                    <span class="time"><i class="fa fa-clock-o"></i>03 min.</span>
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="">
                                    View all messages
                                </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>

            <div class="nav-no-collapse pull-right" id="header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="mobile-search" search-bar>
                        <a class="btn">
                            <i class="fa fa-search"></i>
                        </a>

                        <div class="drowdown-search">
                            <form name="video-search-form" ng-submit="SEARC_VIDEO()">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="$root.SEARCH_TERM" required>
                                    <i class="fa fa-search nav-search-icon"></i>
                                </div>
                            </form>
                        </div>

                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/Content/images/user_frontend.png" ng-if="!$root.facebookProfilePic" />
                            <img ng-src="{{$root.facebookProfilePic}}" ng-if="$root.facebookProfilePic" />
                            <!--<img src="/Content/images/user_frontend.png" />-->
                            <span class="hidden-xs">{{$root.FULL_NAME}}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
                            <!-- <li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
                            <li><a href=""><i class="fa fa-envelope-o"></i>Messages</a></li> -->
                            <li><a href="" ng-click="LOG_OUT()"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <li class="hidden-xxs">
                        <a class="btn" ng-click="LOG_OUT()">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>