<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="#!dashboard" id="logo" class="navbar-brand">
            <img src="/Content/images/logo.png" alt="" class="normal-logo logo-white" />
        </a>

        <div class="clearfix">
            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>

            <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs" ng-controller="NotificationsController">
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="btn" id="make-small-nav" menu-hider>
                            <i class="fa fa-exchange"></i>
                        </a>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-comments"></i>
                            <span class="count" ng-if="notifications.length > 0">{{notifications.length}}</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header">You have {{totalNotifications}} new messages</li>
                            <li class="item" ng-repeat="notification in notifications">
                                <a href="#!support">
                                    <i class="fa fa-comment"></i>
                                    <span class="content">{{notification}}</span>
                                    <!--<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>-->
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="#!support">
                                    Show all messages
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-video-camera"></i>
                            <span class="count" ng-if="videoNotifications.length > 0">{{totalNewVideos}}</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header">There are {{totalNewVideos}} new videos uploaded</li>
                            <li class="item" ng-repeat="vn in videoNotifications">
                                <a href="#!video/{{vn.id}}">
                                    <i class="fa fa-comment"></i>
                                    <span class="content">{{vn.name}}</span>
                                    <!--<span class="time"><i class="fa fa-clock-o"></i>13 min.</span>-->
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="#!support">
                                    Show all messages
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="count">1</span>
                        </a>
                        <ul class="dropdown-menu notifications-list messages-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item first-item">
                                <a href="">
                                    <img src="/Content/sitecontent/img/samples/messages-photo-3.png" />
                                    <span class="content">
                                        <span class="content-headline">
                                            Coming Soon
                                        </span>
                                        <span class="content-text">
                                            This section updated soon
                                        </span>
                                    </span>
                                    <span class="time"><i class="fa fa-clock-o"></i>03 min.</span>
                                </a>
                            </li>
                            <li class="item-footer">
                                <a href="">
                                    View all messages
                                </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>

            <div class="nav-no-collapse pull-right" id="header-nav">
                <ul class="nav navbar-nav pull-right">
                    <li class="mobile-search" search-bar>
                        <a class="btn">
                            <i class="fa fa-search"></i>
                        </a>

                        <div class="drowdown-search">
                            <form name="video-search-form" ng-submit="SEARC_VIDEO()">
                                <div class="form-group">
                                    <live-search id="search1" type="text"
                                                 live-search-item-template="{{result}}"
                                                 live-search-callback="$root.UPDATE_VIDEOS"
                                                 ng-model="$root.SEARCH_TERM" class="form-control"></live-search>
                                    <!--<autocomplete class="form-control" ng-model="$root.SEARCH_TERM" data="VIDEOS" on-type="$root.UPDATE_VIDEOS"></autocomplete>
                                    <input type="text" class="form-control" placeholder="Search..." ng-model="$root.SEARCH_TERM" required>-->
                                    <i class="fa fa-search nav-search-icon"></i>
                                </div>
                            </form>
                        </div>

                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <img ng-src="data:image/png;base64,{{$root.USER_IMAGE}}" ng-if="$root.USER_IMAGE" />
                            <img ng-src="/Content/images/user_frontend.png" ng-if="!$root.facebookProfilePic && !$root.USER_IMAGE" />
                            <img ng-src="{{$root.facebookProfilePic}}" ng-if="$root.facebookProfilePic" />
                            <!--<img src="/Content/images/user_frontend.png" />-->
                            <span class="hidden-xs">{{$root.FULL_NAME}}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-if="!$root.facebookProfilePic"><a href="#!profile"><i class="fa fa-user"></i>Profile</a></li>
                            <!-- <li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
                            <li><a href=""><i class="fa fa-envelope-o"></i>Messages</a></li> -->
                            <li><a href="" ng-click="LOG_OUT()"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <li class="hidden-xxs">
                        <a class="btn" ng-click="LOG_OUT()">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>