

<!-- Before Adding Main Content -->
<div id="theme-wrapper">
    <nav ng-include="'/userapp/views/navigation_upper.html'"></nav>
    <div id="page-wrapper" class="container">
        <div class="row">
            <nav ng-include="'/userapp/views/navigation_left.html'"></nav>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- End Before Adding Main Content -->

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="">Home</a></li>
                                    <li class="active" ng-click="backToLibrary()"><span>Video Library</span></li>
                                </ol>

                                <h1>Video</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-box clearfix">
                                        <header class="main-box-header clearfix">
                                            <h2>Upgrade now to access 500+ hours on basic medical sciences and chemical medicine + new videos every Monday </h2>
                                        </header>

                                        <div class="main-box-body clearfix">
                                            <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
                                                <div class="pricing-package-inner">
                                                    <div class="package-header">
                                                        <span class="stars center-block">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <h3>1 MONTH ACCESS</h3>
                                                    </div>
                                                    <div class="package-content">
                                                        <div class="package-price">
                                                            <span class="currency">&dollar;</span>
                                                            <span class="price">39</span>
                                                            <span class="package-month"></span>
                                                        </div>
                                                        <ul id="pricingFont" class="package-features package-top-features">
                                                            <li class="has-feature">
                                                                Expires after 30 Days.
                                                            </li>
                                                            <li class="has-feature">
                                                                500+ hours of videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                New videos every Monday.
                                                            </li>
                                                            <li class="has-nofeature">
                                                                Clinical Medicine videos.
                                                            </li>
                                                            <li class="has-nofeature">
                                                                Download option for videos.
                                                            </li>
                                                        </ul>
                                                        <div class="package-footer">
                                                            <button class="btn btn-success" ng-click="buyPackage(13)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Upgrade now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
                                                <div class="pricing-package-inner">
                                                    <div class="package-header">
                                                        <span class="stars center-block">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <h3>1 YEAR ACCESS</h3>
                                                    </div>
                                                    <div class="package-content">
                                                        <div class="package-price">
                                                            <span class="currency">&dollar;</span>
                                                            <span class="price">49</span>
                                                            <span class="package-month"></span>
                                                        </div>
                                                        <ul id="pricingFont" class="package-features package-top-features">
                                                            <li class="has-feature">
                                                                Expires after 1 Year.
                                                            </li>
                                                            <li class="has-feature">
                                                                500+ hours of videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                New videos every Monday.
                                                            </li>
                                                            <li class="has-feature">
                                                                Clinical Medicine videos.
                                                            </li>
                                                            <li class="has-nofeature">
                                                                Download option for videos.
                                                            </li>
                                                        </ul>
                                                        <div class="package-footer">
                                                            <button class="btn btn-success" ng-click="buyPackage(11)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Upgrade now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
                                                <div class="pricing-package-inner">
                                                    <div class="pricing-star">Best<br />value</div>
                                                    <div class="package-header">
                                                        <span class="stars center-block">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <h3>LIFETIME ACCESS</h3>
                                                    </div>
                                                    <div class="package-content">
                                                        <div class="package-price">
                                                            <span class="currency">&dollar;</span>
                                                            <span class="price">99</span>
                                                            <span class="package-month"></span>
                                                        </div>
                                                        <ul id="pricingFont" class="package-features package-top-features">
                                                            <li class="has-feature">
                                                                Diamonds are Forever.
                                                            </li>
                                                            <li class="has-feature">
                                                                500+ hours of videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                New videos every Monday.
                                                            </li>
                                                            <li class="has-feature">
                                                                Clinical Medicine videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                Download option for videos.
                                                            </li>
                                                        </ul>
                                                        <div class="package-footer">
                                                            <button class="btn btn-success" ng-click="buyPackage(14)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Upgrade now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- After Adding Main Content -->
                    </div>
                </div>

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Copyright © 2015 Dr. Najeeb Lectures. All Rights Reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- End After Adding Main Content -->


<!--<div class="col-sm-4" ng-repeat="package in packages">
    <div id="login-box">
        <div id="login-box-holder">
            <div class="row">
                <div class="col-xs-12">
                    <header id="login-header">
                        <div id="login-logo">
                            <img src="/Content/images/logo.png" alt="" />
                        </div>
                    </header>
                    <div id="login-box-inner">
                        <h1>
                            {{package.name}}
                        </h1>
                        <h1>
                            ${{package.price}}
                        </h1>
                        <h1>
                            <a href="" class="btn btn-primary" ng-click="buyPackage(package)">Buy</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->