

<!-- Before Adding Main Content -->
<div id="theme-wrapper">
    <nav ng-include="'/userapp/views/navigation_upper.html'"></nav>
    <div id="page-wrapper" class="container">
        <div class="row">
            <nav ng-include="'/userapp/views/navigation_left.html'"></nav>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- End Before Adding Main Content -->                       
                        <div class="row">
                            <div class="row pkgRow">
                                <div class="col-lg-12">                                   
                                    <div class="main-box clearfix">
                                        <div class="main-box-body clearfix">
                                            <div class="col-md-12 col-sm-12 col-xs-12 pricing-package">
                                                 <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 pkgDiv">
                                                        <div class="text-center pkgHeader">
                                                            <h3 >Upgrade Now to access 650+ videos + New videos every week!</h3>
                                                            <p >Limited Time Offer: Get Lifetime Access for $59 only!</p>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                <div class="pricing-package-inner modal-dialog">
                                                    <div class="package-header" style="padding-bottom: 20px;">
                                                        <span class="stars center-block">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <h3>LIFETIME ACCESS = $99</h3>
                                                        <h3 style="padding-top: 20px;font-size: 23px;"> Limited Time Offer:  GET 40% DISCOUNT!</h3>
                                                    </div>
                                                    <div class="package-content">
                                                        <div class="package-price pkgBox">
                                                            <!-- <span class="currency">&dollar;</span> -->
                                                            <span class="package-price pkgPrize1">$59 ONLY!</span>
                                                            <span class="package-month"></span>
                                                        </div>
                                                        <ul id="pricingFont" class="package-features package-top-features">
                                                            <li>
                                                                Basic Medical Sciences.
                                                            </li>
                                                            <li>
                                                                650+ videos available.
                                                            </li>
                                                            <li>
                                                                Download option for videos.
                                                            </li>
                                                            <li>
                                                                New videos every week.
                                                            </li>
                                                            <li>
                                                                1.5x fast video playback.
                                                            </li>
                                                            <li>
                                                                Fully responsive dashboard.
                                                            </li>
                                                            <li>
                                                                24/7 customer support.
                                                            </li>
                                                            <li class="noBorder">
                                                                Membership never expires.
                                                            </li>
                                                        </ul>
                                                        <!--<div class="package-footer">
                                                            <button class="btn btn-success" ng-click="buyPackage(23, true)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Sign up Method 1
                                                            </button>

                                                            <button class="btn btn-success" ng-click="buyPackage(13, false)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Sign up Method 2
                                                            </button>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <!--signup btn divs stsrt-->
                                                <div class="signUpPanel text-center">
                                                    <h2>SIGN UP NOW</h2>
                                                    <h3>Sign Up Method 1:  <button class="btn btn-success" ng-click="buyPackage(23, true)">
                                                               Sign up Now
                                                            </button>
                                                    </h3>
                                                    <div class="clear"></div>
                                                    <h3>Sign Up Method 2:  <button class="btn btn-success" ng-click="buyPackage(13, false)">
                                                                 Sign up Now
                                                            </button>
                                                    </h3>
                                                    <div class="clear"></div>
                                                    <p>
                                                        *If method 1 doesn’t work for you sign up with method 2.
                                                    </p>
                                                </div>
                                                <!--signup btn divs closed-->
                                                <div class="pkgText">

                                                    <h3>Basic Medical Sciences</h3>
                                                    <p>650+ videos on Basic Medical Sciences with thousands of hand drawn illustrations. Excellent for visual learners!</p>                                                  
                                                    <h3>New Videos Every Week</h3>
                                                    <p>We upload new videos every Week. Our members can access these videos for FREE!</p>
                                                    <h3>Download Option For Videos</h3>
                                                    <p>No internet? No problem! You can download our videos to watch them offline. Study anytime, anywhere. Even without internet!</p>
                                                    <h3>Designed For Visual Learners</h3>
                                                    <p>Learn everything on a traditional whiteboard with hand-drawn illustrations. Our videos are interactive so you don't have to spend hours memorizing!</p>
                                                    <h3>Responsive Dashboard</h3>
                                                    <p>Enjoy a fully responsive dashboard. Experience our gorgeous user interface seamlessly across all devices!</p>
                                                    <h3>Ridiculously Affordable</h3>
                                                    <p>We clear your concepts not your wallet. Seriously find us a better deal anywhere else on internet and we'll offer you our services for FREE!</p>
                                                    <h3>Fanatic Customer Support</h3>
                                                    <p>Our customer support is here to serve you 24 hours a day, 7 days a week, 365 days a year!</p>
                                                </div>
                                            </div>
                                            <!----comment strt from here
                                            <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
                                                <div class="pricing-package-inner">
                                                    <div class="package-header">
                                                        <span class="stars center-block">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <h3>1 YEAR ACCESS</h3>
                                                    </div>
                                                    <div class="package-content">
                                                        <div class="package-price">
                                                            <span class="currency">&dollar;</span>
                                                            <span class="price">49</span>
                                                            <span class="package-month"></span>
                                                        </div>
                                                        <ul id="pricingFont" class="package-features package-top-features">
                                                            <li class="has-feature">
                                                                Expires after 1 Year.
                                                            </li>
                                                            <li class="has-feature">
                                                                500+ hours of videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                New videos every Monday.
                                                            </li>
                                                            <li class="has-feature">
                                                                Clinical Medicine videos.
                                                            </li>
                                                            <li class="has-nofeature">
                                                                Download option for videos.
                                                            </li>
                                                        </ul>
                                                        <div class="package-footer">
                                                            <button class="btn btn-success" ng-click="buyPackage(11)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Upgrade Now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
                                                <div class="pricing-package-inner">
                                                    <div class="pricing-star">Best<br />value</div>
                                                    <div class="package-header">
                                                        <span class="stars center-block">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                        <h3>LIFETIME ACCESS</h3>
                                                    </div>
                                                    <div class="package-content">
                                                        <div class="package-price">
                                                            <span class="currency">&dollar;</span>
                                                            <span class="price">99</span>
                                                            <span class="package-month"></span>
                                                        </div>
                                                        <ul id="pricingFont" class="package-features package-top-features">
                                                            <li class="has-feature">
                                                                Diamonds are Forever.
                                                            </li>
                                                            <li class="has-feature">
                                                                500+ hours of videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                New videos every Monday.
                                                            </li>
                                                            <li class="has-feature">
                                                                Clinical Medicine videos.
                                                            </li>
                                                            <li class="has-feature">
                                                                Download option for videos.
                                                            </li>
                                                        </ul>
                                                        <div class="package-footer">
                                                            <button class="btn btn-success" ng-click="buyPackage(14)">
                                                                <span class="fa fa-shopping-cart fa-lg"></span> Upgrade Now
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            comment closed here-->
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- After Adding Main Content -->
                    </div>
                </div>

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Copyright © 2015 Dr. Najeeb Lectures. All Rights Reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- End After Adding Main Content -->


<!--<div class="col-sm-4" ng-repeat="package in packages">
    <div id="login-box">
        <div id="login-box-holder">
            <div class="row">
                <div class="col-xs-12">
                    <header id="login-header">
                        <div id="login-logo">
                            <img src="/Content/images/logo.png" alt="" />
                        </div>
                    </header>
                    <div id="login-box-inner">
                        <h1>
                            {{package.name}}
                        </h1>
                        <h1>
                            ${{package.price}}
                        </h1>
                        <h1>
                            <a href="" class="btn btn-primary" ng-click="buyPackage(package)">Buy</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->