<!-- Before Adding Main Content -->
<div id="theme-wrapper" ng-if="showData">
    <nav ng-include="'/userapp/views/navigation_upper.html'"></nav>
    <div id="page-wrapper" class="container">
        <div class="row">
            <nav ng-include="'/userapp/views/navigation_left.html'"></nav>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- End Before Adding Main Content -->

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="">Home</a></li>
                                    <li class="active"><span>Dashboard</span></li>
                                </ol>

                                <h1>Dashboard</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored emerald-bg videosClick" ng-click="goto('/newvideos')">
                                    <i class="fa fa-video-camera"></i>
                                    <span class="headline">Videos</span>
                                    <span class="value">
                                        <span class="timer" data-from="120" data-to="2562" data-speed="1000" data-refresh-interval="50">
                                            {{totalVideos}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored green-bg">
                                    <i class="fa fa-calendar"></i>
                                    <span class="headline">Subscription</span>
                                    <span class="value">
                                        <span class="timer" data-from="30" data-to="658" data-speed="800" data-refresh-interval="30">
                                            1 Month
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="main-box infographic-box colored red-bg videosClick" ng-click="goto('/favorites')">
                                    <i class=" fa  fa-plus">
                                    </i>
                                    <span class="headline">My Playlist</span>
                                    <span class="value">
                                        <span class="timer" data-from="83" data-to="8400" data-speed="900" data-refresh-interval="60">
                                            {{totalFavorites}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12 videosClick" ng-click="goto('/support')">
                                <div class="main-box infographic-box colored purple-bg">
                                    <i class="fa fa-envelope"></i>
                                    <span class="headline">Customer Support</span>
                                    <span class="value">
                                        <span class="timer" data-from="539" data-to="12526" data-speed="1100" style="font-size:23px">
                                            {{totalUnreadMessages}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-6">
                                <div class="main-box feed">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">New Videos</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <ul>
                                            <li class="clearfix" ng-repeat="video in newVideos">
                                                <div class="img">
                                                    <img ng-src="{{video.thumbnailURL}}" alt="" />
                                                </div>
                                                <div class="title">
                                                    <a href="#/video/{{video.id}}">{{video.name}}</a>
                                                </div>
                                                <div class="post-time">
                                                    in
                                                    <span ng-repeat="cat in video.categories">
                                                        {{cat.name}}<br />
                                                    </span>
                                                </div>
                                                <div class="time-ago">
                                                    <i class="fa fa-clock-o"></i> {{video.duration}} min.
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="main-box feed">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">New Features</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="img text-danger">
                                                    <i class="fa fa-check-circle fa-2x"></i>
                                                </div>
                                                <div class="title" style="margin-top:3px; margin-left:41px;">
                                                    Lifetime member can now download videos.
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="img text-danger">
                                                    <i class="fa fa-check-circle fa-2x"></i>
                                                </div>
                                                <div class="title" style="margin-top:3px; margin-left:41px;">
                                                    Now you can create playlist for videos.
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="img text-danger">
                                                    <i class="fa fa-check-circle fa-2x"></i>
                                                </div>
                                                <div class="title" style="margin-top:3px; margin-left:41px;">
                                                    Customer service integrated right in your dashboard.
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="img text-danger">
                                                    <i class="fa fa-check-circle fa-2x"></i>
                                                </div>
                                                <div class="title" style="margin-top:3px; margin-left:41px;">
                                                    Enjoy fully responsive design across all devices.
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="img text-danger">
                                                    <i class="fa fa-check-circle fa-2x"></i>
                                                </div>
                                                <div class="title" style="margin-top:3px; margin-left:41px;">
                                                    Clinical medicine videos for lifetime members.
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="img text-danger">
                                                    <i class="fa fa-check-circle fa-2x"></i>
                                                </div>
                                                <div class="title" style="margin-top:3px; margin-left:41px;">
                                                    New videos every Monday.
                                                </div>
                                            </li>
                                            <!--<li class="clearfix" ng-repeat="video in favoriteVideos">
                                                <div class="img">
                                                    <img ng-src="{{video.thumbnailURL}}" alt="" />
                                                </div>
                                                <div class="title">
                                                    <a href="#/video/{{video.id}}">{{video.name}}</a>
                                                </div>
                                                <div class="post-time">
                                                    in
                                                    <span ng-repeat="cat in video.categories">
                                                        {{cat.name}}<br />
                                                    </span>
                                                </div>
                                                <div class="time-ago">
                                                    <i class="fa fa-clock-o"></i> {{video.duration}} min.
                                                </div>
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <!-- After Adding Main Content -->
                    </div>
                </div>

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Copyright © 2015 Dr. Najeeb Lectures. All Rights Reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- End After Adding Main Content -->