<!-- Before Adding Main Content -->
<div id="theme-wrapper">
    <nav ng-include="'/userapp/views/navigation_upper.html'"></nav>
    <div id="page-wrapper" class="container">
        <div class="row">
            <nav ng-include="'/userapp/views/navigation_left.html'"></nav>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- End Before Adding Main Content -->

                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="">Home</a></li>
                                    <li class="active" ng-click="backToLibrary()"><span>Video Library</span></li>
                                </ol>

                                <h1>Video</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-8 col-md-8 col-sm-12">
                                <div class="main-box clearfix">
                                    <!--<header class="main-box-header clearfix">
                                        <h2>{{video.name}}</h2>
                                    </header>-->

                                    <div class="main-box-body clearfix">
                                        <br />
                                        <!-- 16:9 aspect ratio -->
                                        <div class="embed-responsive embed-responsive-16by9">

                                            <div id="rmPlayer" style="width:100%;"></div>
                                            <!--<iframe id="vimeoFrame" ng-src="{{videoSource}}" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
                                            <!-- <iframe id="{{videoId}}" class="vzaar-video-player" width="720"
                                                                                               height="480" frameborder="0" webkitallowfullscreen="" type="text/html"
                                                                                               title="vzaar video player" ng-src="{{videoSource}}"
                                                                                               name="{{videoId}}" mo="" allowtransparency="true" allowfullscreen=""></iframe>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-4 col-md-4 col-sm-12">
                                <div class="main-box feed">
                                    <header class="main-box-header clearfix">
                                        <h2 class="pull-left">Video Information</h2>
                                    </header>

                                    <div class="main-box-body clearfix">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="title">
                                                    <b>
                                                        Title
                                                    </b>
                                                </div>
                                                <div class="title">
                                                    <p class="titleFont">
                                                        {{video.name}}
                                                    </p>
                                                </div>
                                            </li>

                                            <li class="clearfix">
                                                <div class="title">
                                                    <b>
                                                        Last 6 Month Views
                                                    </b>
                                                </div>
                                                <div class="title">
                                                    <p class="titleFont">
                                                        {{video.totalViews}}
                                                    </p>
                                                </div>
                                            </li>

                                            <li class="clearfix">
                                                <div class="title">
                                                    <b>
                                                        Categories
                                                    </b>
                                                </div>
                                                <div class="title">
                                                    <h4 ng-repeat="cat in video.categories">
                                                        {{cat.name}}
                                                    </h4>
                                                </div>
                                            </li>

                                            <li class="clearfix">
                                                <div class="title">
                                                    <b>
                                                        Duration
                                                    </b>
                                                </div>
                                                <div class="title">
                                                    <p>
                                                        {{video.duration}} Minutes
                                                    </p>
                                                </div>
                                            </li>

                                            <li class="clearfix">
                                                <div class="title">
                                                    <b>
                                                        Description
                                                    </b>
                                                </div>
                                                <div class="title">
                                                    <p dd-text-collapse dd-text-collapse-max-length="110" dd-text-collapse-text="{{video.description}}"></p>
                                                    <p ng-if="!video.description">
                                                        No description available
                                                    </p>
                                                </div>
                                            </li>

                                            <li class="clearfix text-center">
                                                <button class="btn btn-success" ng-click="addToFavorites(video)" title="Add To Playlist" ng-if="!video.isFavoriteVideo">
                                                    Add To Playlist <i class="fa  fa-plus"></i>
                                                </button>
                                                <button class="btn btn-danger" ng-click="removeFromFavorites(video)" title="Remove From Playlist" ng-if="video.isFavoriteVideo">
                                                    Remove From Playlist <i class="fa  fa-plus"></i>
                                                </button>
                                                <button class="btn btn-default" ng-click="downloadVideo(video)" title="Download Video" ng-if="$root.showDownloadOption">
                                                    Download <i class="fa fa-download"></i>
                                                </button>
                                                <!--<a href="http://view.vzaar.com/{{video.vzaarVideoId}}/download" class="btn btn-default" target="_self">
                                                    <i class="fa fa-download"></i>
                                                </a>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- After Adding Main Content -->
                        <dir-disqus disqus-shortname="drnajeeblecture"
                                    disqus-identifier={{videoId}}
                                    disqus-title={{videoId}}
                                    disqus-url={{url}}
                                    readytobind="true">
                        </dir-disqus>
                        <!--<div disqus="'{{videoId}}'" data-disqus-identifier="{{videoId}}"></div>-->
                    </div>
                </div>

                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        Copyright © 2015 Dr. Najeeb Lectures. All Rights Reserved.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- End After Adding Main Content -->
